h1{
    text-align: center;
    color: aliceblue;
    background-color: blue;
    padding: 10px;
    margin: 10px;
}
#countrie{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.country{
    border: 1px solid goldenrod;
    background-color: rgb(6, 86, 133);
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    color: whitesmoke;
}